#buybox-floating {
    position: fixed;
    z-index: 999999;
    top: auto;
    right: 0;
    bottom: 1rem;
    left: 0;
    display: block;
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    max-width: 32rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ddd;
    border-radius: 0.5rem;

    .buybox-floating--inner {
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
        padding: 0.5rem 1rem 0 1rem;
        border-radius: 0.5rem;
    }

    &.floating-buybox-hidden {
        visibility: hidden;
        bottom: -6.875rem;
    }

    .buybox--quantity {
        display: block;
    }

    .select-field {
        height: 48px;
    }

    .product--title {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.has--price {
            .title--default {
                &::before {
                    content: ' - ';
                }
            }
        }
    }

    .buybox--dropdown {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 0;

        .text-field {
            font-weight: bold;
            flex: 1 0 auto;
        }

        .select-field {
            flex: 0 0 63%;
            min-width: 63%;
            height: 2rem;

            &::after {
                line-height: 2rem;
            }

            select {
                line-height: 1;

            }
        }
    }

    .price--unit {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .product--details {
        .buybox--button-container {
            margin: 0;
            background: none;
        }

        .buybox--quantity {
            width: 35%;
            margin: 0 2% 0 0;
        }

        .buybox--button {
            width: 63%;
        }
    }
}

// offcanvas additional padding bottom
.tab-menu--product .off-canvas {
    padding-bottom: 9rem;
}
