@import 'tiny-slider/src/tiny-slider';

.slider-container {
    overflow: hidden;
    position: relative;

    &:focus,
    *:focus {
        outline: none;
    }

    img {
        display: inline-block;
        vertical-align: middle;
        // max-width: 100%;
        object-fit: cover;
        max-width: none;
    }

    .slider-item {
        position: relative;
        cursor: pointer;
    }

    .slider-controls {
        margin: 0;
        padding: 0;
        list-style: none;

        &:focus {
            outline: none;
        }

        li {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            &.prev {
                left: 0;
            }

            &.next {
                right: 0;
            }
        }

        li:hover {
            cursor: pointer;
        }

        // & [aria-controls] {
        // font-size: 15px;
        // margin: 0 5px;
        // padding: 0 1em;
        // height: 2.5em;
        // border: 0;
        // }

        & [disabled] {
            cursor: not-allowed !important;
        }

        .prev,
        .next {
            margin: 0;
            padding: 0;
            font-size: 5rem;
            // height: 5rem;
        }
    }

    figure {
        text-align: center;
        margin: 0 auto;
        overflow: hidden;
        position: relative;

        img {
            display: block;
            margin: auto;
        }

        // h2 {
        //     margin: 0 0 0.25rem;
        // }

        // p {
        //     margin: 0;
        //     padding: 0 0.5rem;
        // }
    }

    .lt-ie9 .slider-controls > [aria-controls] {
        line-height: 2.5em;
    }

    .tns-nav {
        text-align: center;

        & > [aria-controls] {
            width: 0.75rem;
            height: 0.75rem;
            padding: 0;
            margin: 0 0.25rem;
            border-radius: 50%;
            background: #ddd;
            border: 1px solid #777;
        }

        & > .tns-nav-active {
            background: #333;
        }
    }
}
