@mixin wobble($selector, $infinite: false, $delay: 0s) {
    #{$selector} {
        $animation-iteration: if($infinite, 'infinite', '1');
        animation: btnWiggle 5s #{$animation-iteration} $delay;
    }

    @keyframes btnWiggle {
        0% {
            transform: rotate(0deg);
        }
        2% {
            transform: rotate(-3deg);
        }
        3.5% {
            transform: rotate(3deg);
        }
        5% {
            transform: rotate(-3deg);
        }
        6.5% {
            transform: rotate(3deg);
        }
        8% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
}
