//@use '../abstracts/breakpoints' as *;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$font-1: Arial;
$font-2: Orbitron;
$font-3: 'Exo 2';
$font-4: Michroma;
$font-5: Revalia;
$font-6: 'Seven Segment Regular';
$font-7: VT323;

$default-gap: 2rem;

//navigation and burger
$nav-height: 5rem;

$burger-top: 2rem;
$burger-right: 2rem;
$burger-width: 5rem;
$burger-height: 2rem;

// container (uncomment to override default)
$container-max-widths: (
    sm: 540px,
    md: 760px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px,
    3xl: 1530px,
);

// breakpoints (uncomment to override default)
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
    3xl: 1600px,
);

$font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// $font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
// $gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));

$body-font-family: $font-1, $font-2, $font-3, $font-4, $font-sans-serif;
$body-font-size: 1rem;
$body-font-weight: 400;
$body-line-height: 1.5;
$body-text-align: left;
