@use '../abstracts/variables' as v;
@use '../abstracts/colors' as c;

footer {
    height: 5rem;
    background-color: c.$brand-bg-1;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0;
        height: 100%;
        list-style: none;
        margin-left: auto;
        margin-right: auto;
    }

    li {
        flex: 1 1 auto;
        text-align: center;
    }
}
