// #010v1
// .elementor-15363 {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;

//     > section {
//         width: 100%;
//         margin: 0;

//         @for $i from 1 through 20 {
//             &:nth-of-type(#{$i}) {
//                 order: #{$i};
//             }
//         }
//     }
// }

// .elementor-element-22fca935 {
//     order: 7 !important;
// }

// .elementor-element-5dd0853 {
//     order: 14 !important;
// }

// #010v2
.elementor-15363 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    > section {
        width: 100%;
        margin: 0;

        @for $i from 1 through 20 {
            &:nth-of-type(#{$i}) {
                order: #{$i};
            }
        }
    }
}

.elementor-element-22fca935 {
    order: 2 !important;
}

.elementor-element-9d8e515 {
    order: 5 !important;
}

.elementor-element-84c90f4 {
    order: 8 !important;
}

.elementor-element-5dd0853 {
    order: 14 !important;
}
