/* Bootstrap */
@use 'abstracts/bootstrap';

/* Tailwindcss */
/* see tailwind.config.js for configurations */
/* purgecss start ignore */
// @use '~tailwindcss/base';
// @use '~tailwindcss/components';
/* purgecss end ignore */
// @use '~tailwindcss/utilities';

/* Tiny-SLider */
// @use 'partials/slider';

// Lightbox SCSS (https://github.com/biati-digital/glightbox)
// @use 'partials/glightbox';

/* SimpleBar */
// @use 'partials/simplebar';

/* Variables */
// @use 'abstracts/variables';

/* Breakpoints */
// @use 'abstracts/breakpoints';

/* Mixins */
// @use 'abstracts/mixins';

/* Fonts */
// @use 'abstracts/fonts';

/* Body */
@use 'partials/body';

/* Header */
// @use 'partials/header';

/* Footer */
// @use 'partials/footer';

/* froala and fixes */
// @use 'partials/froala';
