/* Tailwindcss */
/* see tailwind.config.js for configurations */
/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

/* Tiny-SLider */
@import 'tiny-slider/src/tiny-slider';
@import 'partials/slider';

// Lightbox SCSS (https://github.com/biati-digital/glightbox)
@import 'glightbox/src/postcss/glightbox.css';
@import 'partials/glightbox';

/* SimpleBar */
@import 'simplebar/dist/simplebar.css';
@import 'partials/simplebar';

/* Variables */
@import 'base/variables';

/* Breakpoints */
@import 'base/breakpoints';

/* Mixins */
@import 'base/mixins';

/* Fonts */
@import 'base/fonts';

/* Body */
@import 'partials/body';

/* Header */
@import 'partials/header';

/* Footer */
@import 'partials/footer';

/* froala and fixes */
@import 'partials/froala';
