// Variables
@import 'base/variables';

// Breakpoints
// @import 'base/breakpoints';

// Mixins
@import 'base/mixins';

// Fonts
@import 'base/fonts';

/* Body */
@import 'partials/body';

/* Header */
@import 'partials/header';

/* Footer */
@import 'partials/footer';
