/* Bootstrap */
// @use 'abstracts/bootstrap';

/* Tailwind CSS */
// @use 'abstracts/tailwindcss';

/* Body */
// @use 'partials/body';

/* Header */
// @use 'partials/header';

/* Footer */
// @use 'partials/footer';

/* froala and fixes */
/* purgecss start ignore */
// @use 'partials/froala';

/* Fonts */
// @use 'abstracts/fonts';
/* purgecss stop ignore */

header {
    h1 {
        opacity: 0;
        color: #f00 !important;
    }
}
